* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f5f5;
  --accent-color: #db4444;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
}

.main-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.main-box__left {
  width: 700px;
  height: 680px;
}

.main-box__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-box__right {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 70%;
}

.form__input-group {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #555;

  input {
    width: 100%;
    height: 100%;
    border: none;
    padding-bottom: 0.4rem;
    outline: none;
  }
}

.form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background: var(--accent-color);
    color: var(--primary-color);
  }

  a {
    color: var(--accent-color);
  }
}
