* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Rubik", sans-serif;
    color: #222;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0456;
    padding: 0 4.8rem;
    height: 6rem;
    /* position: relative; */
}



.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

/* NAVIGATION */
.main-nav-list {
    list-style: none;
    display: flex;
    color: #ffffff;
    gap: 28px;
}
.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    color:  #ffffff;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #d2e446;
}
.nav-cta:link,
.nav-cta:visited {
    padding: 10px 22px;
    border-radius: 9px;
}

.main-nav-list li:nth-child(3) .nav-cta {
  background: white;
  color: #0c0456;
  border: 2px solid #0c0456;
}

.main-nav-list li:nth-child(3) .nav-cta:hover {
  background: #d2e446;
  color: #ffffff;
}

.main-nav-list li:nth-child(4) .nav-cta {
  background: white;
  color: #0c0456;
  border: 2px solid #0c0456;
}

.main-nav-list li:nth-child(4) .nav-cta:hover {
  background: #d2e446;
  color: #ffffff;
}
/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    background-color: #0c0456;
}

.hero-text {
    max-width: 45%;
    margin-bottom: 100px;
    /* line-height: 40px; */
}

.hero-text h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.hero-text p {
    line-height: 30px;
    /* margin-bottom: 25px; */
    font-size: 25px;
    color: #ffffff;
}
.hero-text a:link {
    text-decoration: none;
}

.btn {
    margin-top: 40px;
    display: inline-block;
    background: #d2e446;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease

}

.btn:hover {

    transform: translate(0, -5px);
}

.hero-img img {
    width: 700px;
}

/* CATEGORIES */
.categories {
    padding: 60px;
    text-align: center;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.cat-card {
    background: #f5f5f5;
    padding: 40px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

/* PRODUCTS */
.products {
    padding: 60px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.product {
    background: #fafafa;
    border-radius: 8px;
    padding: 20px;
    transition: 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.product h4 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    color: #e44646;
    font-weight: bold;
    margin-top: 5px;
}

/* NEWSLETTER */
.newsletter {
    background: #0c0456;
    color: white;
    padding: 60px;
    text-align: center;
}

.newsletter-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.newsletter-box input {
    padding: 12px 20px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.newsletter-box button {
    padding: 12px 25px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.newsletter-box button:hover {
    background: #222;
}

/* FOOTER */
footer {
    padding: 20px;
    background: #111;
    text-align: center;
    color: white;
    margin-top: 20px;
}
