* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #222;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin-left: 25px;
    font-size: 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #e44646;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    background-color: #0c0456;
}

.hero-text {
    max-width: 45%;
}

.hero-text h1 {
    font-size: 46px;
    margin-bottom: 20px;
    color: #fff;
}

.hero-text p {
    margin-bottom: 25px;
    font-size: 17px;
    color: #ffffff;
}
.hero-text a:link {
    text-decoration: none;
}

.btn {
    background: #d2e446;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #c23b3b;
}

.hero-img img {
    width: 450px;
}

/* CATEGORIES */
.categories {
    padding: 60px;
    text-align: center;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.cat-card {
    background: #f5f5f5;
    padding: 40px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

/* PRODUCTS */
.products {
    padding: 60px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.product {
    background: #fafafa;
    border-radius: 8px;
    padding: 20px;
    transition: 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.product h4 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    color: #e44646;
    font-weight: bold;
    margin-top: 5px;
}

/* NEWSLETTER */
.newsletter {
    background: #0c0456;
    color: white;
    padding: 60px;
    text-align: center;
}

.newsletter-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.newsletter-box input {
    padding: 12px 20px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.newsletter-box button {
    padding: 12px 25px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.newsletter-box button:hover {
    background: #222;
}

/* FOOTER */
footer {
    padding: 20px;
    background: #111;
    text-align: center;
    color: white;
    margin-top: 20px;
}
